{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="contrainer-fluid">
  <div class="row">
    <div class="col-4 offset-1">
      <div class="card mb-3 message-body account-card">
        <div class="card-body message-body">
          <h3>{% trans "Sign Out" %}</h3>

          <p>{% trans 'Are you sure you want to sign out?' %}</p>
          
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="submit-button">{% trans 'Sign Out' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
