/*---------------------------------------- Navbar */
.navbar {
    background-color: #fba031;
}

.navbar-nav {
    position: absolute;
    right: 10px;
}

/*---------------------------------------- Background image */
body {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://res.cloudinary.com/aemacbeath/image/upload/v1658426728/true-false-quiz_zsivav.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/*---------------------------------------- Cards */

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card-body {
    height: fit-content;
    object-fit: cover;
}

.fake {
    background-color: rgba(255, 0, 0, 0.409);
    color: white;
}

.fact {
    background-color: rgba(0, 255, 8, 0.409);
    color: white;
}

/*---------------------------------------- Account */
.account-card {
    background-color: white;
    margin-top: 10px;
}

.submit-button {
    margin-bottom: 10px;
}

/*---------------------------------------- Post Detail */
.post-detail-body {
    height: fit-content;
}

/*---------------------------------------- Messages */
.message-body {
    height: fit-content;
    background-color: #fba031;
}

.message-count {
    background-color: grey;
}

.reveal {
    padding: 1px;
}

.update-message {
    padding-top: 10px;
}

/*---------------------------------------- Pagination button */
.page-button {
    background-color: #fba031;
    color: black;
}