{% extends "base.html" %}

{% block head_title %}{% if update %}Update message{% else %}Create a message{% endif %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row update-message">
    <div class="col-6 offset-3 message-body">
      <h2 class=" my-5">{% if update %}Update message{% else %}Create a message{% endif %}</h2>
      <form method="message" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          {{ form.content.label_tag }}
          <textarea type="text" class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content"
            name="content" cols="40" rows="10">{{ form.content.value|default:"" }}</textarea>
          {% if form.content.errors %}
          <div class="invalid-feedback">{{ form.content.errors }}</div>
          {% endif %}
        </div>

        <button type="submit" class="btn fact">
          {% if update %}Update the message{% else %}Create a message{% endif %}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock content %}