{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Post detal card -->
                <div class="col-md-6">
                    <div class="card mb-3">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                        <div class="text-center">
                            <div class="text-bg-dark reveal">
                                {% if voted_fake %}
                                <h4>You voted FAKE | This post is {{ post.status }}</h4>
                                {% else %}
                                <h4>You voted FACT | This post is {{ post.status }}</h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body post-detail-body">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p class="card-text">{{ post.content | safe }}</p>
                        </div>
                    </div>
                </div>
                <!-- /Post detal card -->

                <!-- Accepted user messages -->
                <div class="col-md-3">
                    {% if user.is_authenticated%}
                    {% for message in messages %}
                    <div class="card mb-3 message-body">
                        <div class="card-body">
                            <h6 class="card-title">{{ message.body | linebreaks }}</h6>
                            <small class="card-text">{{ message.author }} {{ message.received }}</small>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="card mb-3 message-body">
                        <div class="card-body">
                            <h6 class="card-title">
                                To view user messages please<br>
                                <a class="inline" href="{% url 'account_signup' %}">Sign up</a>
                                <span> or </span>
                                <a class="inline" href="{% url 'account_login' %}">Sign in</a>
                            </h6>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- /Accepted user messages -->

                <div class="col-md-3">
                    <!-- Message pending acceptance alert -->
                    {% if messaged %}
                    <div class="alert alert-success" role="alert">
                        Your message is pending acceptance
                    </div>
                    {% endif %}
                    <!-- /Message pending acceptance alert -->

                    <!-- Users own messages-->
                    {% for message in all_messages %}
                    {% if message.author == user %}
                    <div class="card mb-3 text-bg-dark">
                        <div class="card-body">
                            <h6 class="card-title">{{ message.body | linebreaks }}</h6>
                            <small class="card-text">{{ message.author }} {{ message.received }}</small>
                            <div>
                                <small class="card-text">Accepted: {{ message.accepted }}</small>
                            </div>
                            <div>
                                {% if message.author == request.user %}
                                <div class="mt-4 mx-3">
                                    <a class="btn btn-warning" href="#message-form">Edit</a>
                                    <a class="btn btn-danger" href="{% url 'message_delete' message.id %}">Delete</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- /Users own messages-->

                    <!-- User send message form -->
                    {% if user.is_authenticated %}
                    <div class="card mb-3 message-body" id="message-form">
                        <div class="card-body message-body">
                            <h6 class="card-title">{{ user.username }}, post a message?</h6>
                            <form method="post">
                                {{ message_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="submit-button">Send</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /User send message form -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}